how to install the requirements.txt

The 01_requirements.txt are the basefiles you will need to get the applications run.
You will find it in the folder $HOME/autoware_vision_pilot_x86_install. 


1. cd $HOME

2. install pip

    - only if you do not have pip 
    - how to check if you have pip
    pip --version or python -m pip --version
    - install if not (ubuntu/debian)
       sudo apt update
       sudo apt install -y python3-pip & sudo apt upgrade -y python3-pip
    - check again with  pip3 --version 
         
 3. cd $HOME/autoware_vision_pilot_x86_install
 
 
 
 4. install 01_requirements

      pip install -r 01_requirements.txt
 
 5. check
 
     python - << EOF
	import torch
	import cv2
	import numpy
	import onnx
	import onnxruntime
	print("Torch:", torch.__version__)
	print("TorchVision:", __import__("torchvision").__version__)
	print("OpenCV:", cv2.__version__)	
	print("NumPy:", numpy.__version__)
	print("ONNX Runtime:", onnxruntime.__version__)
	EOF

6. done
